$text-color: #030303;
$primary-color: #290000;
$secondary-color: #FFFEBD;
$background-color: #F7CE65;

body {
  background-color: $background-color;
  color: $text-color;
  width: 99.5%;
  margin: auto;
}

