$text-color: #fcc63f;

.hero-container {
  position: relative;
  min-height: 850px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-image {
  display: flex;
  justify-content: center;
  background-image: url('/Hero-image.jpg');
  background-size: contain;
  border-radius: 10px;
  height: 629px;
  width: 1257px;
}

.hero-image .hero-image-text {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
  color: $text-color;
  transform: translateY(-10%)
}

.hero-image-text h2 {
  font-size: 80px;
  margin: 0;
}

.hero-image-text h3 {
  font-size: 48px;
  margin-top: 0;
}

.hero-image-text p {
  font-size: 26px;
}
