$text-color: #030303;
$primary-color: #290000;
$secondary-color: #FFFEBD;
$background-color: #F7CE65;

.navbar-container {
  display: flex;
  height: 120px;
  background-color: $background-color;
  opacity: .8;
}

.navbar-components {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-inline: 20px;
}

.nav-bar-logo {
  background-image: url('/dungeons-and-dragons-logo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
  height: 95%;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-bar-topics {
  margin-right: 20px;
}